.card{
    margin: 10px;
    border: 1px solid grey;
    width: 462px;
    height: 650px;
    box-sizing: content-box;
    box-shadow: 5px 5px 5px 5px rgb(216, 216, 216);
}

.name{
    font-weight: bolder;
    margin: 10px 10px 10px 50px;
}
.position{
    margin: 10px 10px 10px 50px;
}

#cards{
    display: flex;
}